<div class="footer-wrapper">
  <footer class="footer container">
    <article class="footer-flex">
      <section class="footer__item">
        <h4 class="footer__title medium-text">По возрасту</h4>
        <ul class="footer-list">
          <li class="footer-list__item desc">
            Курсы для молодых людей 13–15 лет
          </li>
          <li class="footer-list__item desc">
            Курсы для молодых людей от 16 лет
          </li>
        </ul>
      </section>
      <section class="footer__item">
        <h4 class="footer__title medium-text">По направлению обучения</h4>
        <ul class="footer-list">
          <li class="footer-list__item desc">Курсы дизайна</li>
          <li class="footer-list__item desc">Курсы на развитие soft skills</li>
          <li class="footer-list__item desc">Курсы по программированию</li>
        </ul>
      </section>
      <section class="footer__item">
        <h4 class="footer__title medium-text">По длительности</h4>
        <ul class="footer-list">
          <li class="footer-list__item desc">Курсы от 3 до 5 месяцев</li>
          <li class="footer-list__item desc">Курсы от 10 месяцев</li>
          <li class="footer-list__item desc">Курсы от 6 до 9 месяцев</li>
        </ul>
      </section>
    </article>
    <hr />
    <article class="footer-contact">
      <section class="footer-contact__item">
        <p class="footer-contact__text">
          <a class="footer-contact__link" href="#">Geek Battle</a>
          <span>— платформа для проведения онлайн-хакатонов.</span>
        </p>
        <p class="footer-contact__text">
          <a class="footer-contact__link" href="#">Geek Scout</a>
          <span>— рекрутинговое агентство. Помощь с трудоустройством.</span>
        </p>
      </section>
      <section class="footer-contact__item footer-contact__phone">
        <a class="footer__phone" href="tel:8 800-100-22-22">8 800-100-22-22</a>
        <div class="contacts">
          <a href="#" class="contacts__link"
            ><img src="img/instagram.svg" alt="instagram"
          /></a>
          <a href="#" class="contacts__link"
            ><img src="img/vk.svg" alt="Vkontakte"
          /></a>

          <a href="#" class="contacts__link"
            ><img src="img/facebook.svg" alt="facebook"
          /></a>
        </div>
      </section>
    </article>
    <hr />
    <section class="footer-creds">
      <p class="creds">© 2021. ООО «Рога и копыта».</p>
      <p class="developers">Интерфейсы от <a href="" class="purp">FERMA</a></p>
    </section>
  </footer>
</div>
