<div class="header-wrapper">
  <header class="container header">
    <a class="header__title" href="index.html">AllStack</a>
    <nav class="menu">
      <ul class="menu-flex">
        <li class="menu__item medium-text">
          <a href="#" class="menu__item-link">Курсы</a>
        </li>
        <li class="menu__item medium-text">
          <a href="#" class="menu__item-link">Отзывы</a>
        </li>
        <li class="menu__item medium-text">
          <a href="#" class="menu__item-link">Преподаватели</a>
        </li>
        <li class="menu__item menu__phone medium-text">
          <a href="tel:+7 (996) 026-52-97" class="menu__item-link"
            >+7 (996) 026-52-97</a
          >
        </li>
      </ul>
    </nav>
    <div class="mobile-menu">
      <span></span>
    </div>
  </header>
</div>
