@font-face {
  font-family: "ProximaRegular";
  font-weight: 400;
  src: url("../fonts/Proxima/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ProximaLight";
  font-weight: 300;
  src: url("../fonts/Proxima/proximanova_light.otf") format("opentype");
}
@font-face {
  font-family: "ProximaBold";
  font-weight: 600;
  src: url("../fonts/Proxima/proximanova_bold.otf") format("opentype");
}
@font-face {
  font-family: "ProximaExtrabold";
  font-weight: 700;
  src: url("../fonts/Proxima/proximanova_extrabold.otf") format("opentype");
}
